.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #696969;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.5rem;
    transition: 0.5s;
}

.add:hover {
    cursor: pointer;
    background-color: #333;
}


.headerModal {
    background-color: var(--blue);    
}

.headerTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}