.todo {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    margin: 0.5rem;
    height: 4rem;
    border-radius: 8px;
    list-style: none;
    padding: 1rem;
}

.todoFinish {
    display: flex;
    justify-content: space-between;
    background-color: #3CB371;
    margin: 0.5rem;
    height: 4rem;
    border-radius: 8px;
    list-style: none;
    padding: 1rem;
}

.todo:hover {
    cursor: pointer;
    background-color: #1C1C1C;
    border-radius: 12px;
    border: solid 1px #1C1C1C;
}

.todoFinish:hover {
    cursor: pointer;
    background-color: #2E8B57;
    border-radius: 12px;
    border: solid 1px #2E8B57;
}

.button {
    width: 2.5rem;
    border-radius: 8px;
    transition: 0.5s;
}

.button:hover {
    height: 2.2rem;
}

.todo img, .todoFinish img {
    width: 2rem;
    margin: 0 1rem;
}